:root {
    --font-color : #f4f4f5;
    --modals-color: #52525b;
    --button-text-color: #fafafa;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #d4d4d8;
}

.container {
    display: grid;
    grid-template-rows: 8vh 75vh 8vh 6vh;
    gap: 1vh;
}

.header {
    background-color: var(--modals-color);
    font-size: clamp(2.5vh,2.5vh,2.5vh);
    letter-spacing: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
}

.container #card-container {
    padding: 1vw;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(12vw, 1fr));
    grid-template-rows:repeat(auto-fill, minmax(26vh, 1fr)) ;
    row-gap: 2vh;
    overflow: auto;
    
}

.card {
    padding: 0.7vh;
    width: 9vw;
    height: 24vh;
    background-color: #52525b;
    border: 0.4vh solid black;
    border-top-right-radius: 2vh;
    border-bottom-right-radius: 2vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    color: var(--font-color);
    font-size: clamp(1.5vh,0.9rem,3vh);
    box-shadow: 0.5vh 0.5vh 1vh gray;
}

.card div{
    grid-column: 1/3;
    ;
}
.card div:nth-child(1){
    font-size: 2.5vh;
    justify-self: center;
}


.card button:nth-child(4){
    justify-self: start;
    font-size: 2vh;
    width: 5vw;
    align-self: flex-end;
}


.card button:nth-child(5){
    background-color: rgb(172, 64, 64);
    color: rgba(37, 32, 32, 0.6);
    justify-self: end;
    font-size: 2vh;
    width: 3vw;
    align-self: flex-end;
    font-weight: bolder;
}

.card button:nth-child(5):hover{
    color: rgba(37, 32, 32, 1);
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:  1vw;
    font-size: clamp(2.5vh,2.5vh,2.5vh);
    background-color: var(--modals-color);
    color: var(--font-color)
}

img {
    height: 4vh;
    transition: 600ms;
}

img:hover {
    transform: rotate(720deg)  scale(1.08) ;
    filter: drop-shadow(0px 0.3vh 0px #ddd)
}   


div #add-book {
    align-self: center;
    justify-self: end;
    color: var(--button-text-color);
    background-color: var(--modals-color);
    width: 4.4vh;
    height: 4.4vh;
    font-size: 3vh;
    border: 0.3vh solid black;
    border-radius: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5vh;
    transition: 200ms;
    padding: 0.2vh;
}

div #add-book:hover {
    transform: scale(1.3);
    background-color:#a3a3a3;
    box-shadow: 0vh 0.4vh 1vh 0.4vh #404040;
}

div #add-book:active {
    transform: scale(1.3);
    background-color:#a3a3a3;
    box-shadow: 0vh 0.4vh 1vh 0.4vh #404040;
    transition: 200ms;
}



/* Modal section */

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
   position: relative;
   width: 20vw;
   height: 45vh; 
   background:var(--button-text-color);
   border: 0.5vh solid black;
   border-radius: 4px;
   padding: 1vw;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   transition: 300ms; 
}

input {
    width: 70%;
    display: block;
    margin: 5vh auto;
    width: 18vw;
    height: 4vh;
    padding: 1vh;
    font-size: medium;
}

.close {
    position: absolute;
    top: 0;
    right: 0.3vw;
    font-size: 1.5vw;
    transform: rotate(45deg);
    cursor: pointer;
}

#create-book {
    position: absolute;
    bottom: 7%;
    left: 26%;
    width: 10vw;
    height: 5vh;
    display: inline-block;
    font-size: 2.5vh;
    letter-spacing: 0.3vh;
    color: rgba(245, 245, 245, 0.4);
    background-color: #a3a3a3;
    transition: 0.5s;
}

button {
    height: 40px;
}

#create-book:hover{
    color: rgba(245, 245, 245, 1);
}

